@import './variables.scss';

.featured-section {
  display: grid;
  grid-template-columns: 100%;
  background-color: $primary;

  @media (min-width: 768px) {
    grid-template-columns: 60% 40%; // Mobile-first: stack content vertically
  }

  .featured-image {
    display: flex;
    flex-direction: column;
    img {
      width: 100%; // Ensures the image takes up the full width of its container
      height: 100%; // Ensures the image takes up the full height of its container
      object-fit: cover; // Ensures the image will cover the space without distorting its aspect ratio
      object-position: center; //
    }
    > div {
      background-color: $background-grey;
      padding: 1rem;
      display: flex;
      justify-content: space-around;
    }
  }

  .featured-content {
    background-color: $primary;
    color: #fff;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px; // Optional: to give the content block rounded corners
    margin-top: 1rem;
    h1,
    h5 {
      color: white;
    }
    @media (min-width: 768px) {
      margin-top: 0;
      margin-left: 1rem;
    }

    .menu-items {
      &::after {
        content: '';
        display: block;
        width: 50px;
        height: 2px;
        background-color: #f6c251; // Accent color for underline
        margin: 0.5rem auto;
      }
    }
  }
}
