@import './variables.scss';

header {
  background-color: var(--wp--preset--color--background-cream);
  padding: $space-inset-3;
  // @media (min-width: 787px) {
  //   padding: $space-inset-3;
  // }
  > .wp-block-group {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    > .alignwide > .wp-block-group {
      max-width: 85%;
    }
  }
  .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .wp-block-navigation-item__content {
    font-family: 'Libre Baskerville';
  }
}

body {
  > .wp-site-blocks {
    width: calc(100% + var(--root-padding-left) + var(--root-padding-right));
    max-width: unset;
    margin-left: calc(-1 * var(--root-padding-left));
    margin-right: calc(-1 * var(--root-padding-right));
  }
}

.buy-gift-component {
  padding: $space-inset-5;
  h2,
  p {
    margin: $space-stack-3;
  }
}

// contained-2-col-component Rename to something like this?
.block-1-component,
.contained-2-col-component {
  margin-bottom: $space-3;
  .wp-block-columns {
    .wp-block-column figure {
      display: flex;
    }
  }
  img {
    max-height: 500px;
    width: auto;
  }
  .text-content {
    p,
    div,
    h5,
    h3 {
      margin: $space-stack-3;
    }
    h2 {
      margin: $space-stack-4;
    }
  }
}

.featured-images-component {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: $space-3;
  @media (min-width: 782px) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.bookings-component {
  .wp-block-group {
    > * {
      margin: $space-stack-3;
    }
    > h2 {
      margin: $space-stack-2;
    }
    .wp-block-spacer {
      background-color: var(--wp--preset--color--white);
    }
  }
  .wp-block-button__link {
    border: 1px solid white;
  }
}

.footer-container {
  // img {
  //   margin-bottom: $space-2;
  // }
  text-align: center;
  .wp-block-column:nth-child(2) {
    .wp-block-group {
      justify-content: center;
      align-items: center !important;
    }
  }
  .wp-block-column:nth-child(2) {
    .wp-block-group:first-child {
      > * {
        margin-left: $space-2;
      }
      margin-top: $space-2;
      margin-bottom: $space-4;
    }
  }
  p {
    color: var(--wp--preset--color--white);
  }
  :where(.wp-block-columns-is-layout-flex) {
    gap: $space-2;
  }
  .wp-block-columns {
    padding: $space-inset-4;
    p {
      text-align: center;
    }
    @media (min-width: 782px) {
      .wp-block-column:nth-child(1) {
        figure {
          display: flex;
        }
        p {
          text-align: left;
        }
      }
      .wp-block-column:nth-child(2) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p {
          text-align: right;
        }
      }
      .wp-block-group {
        flex-direction: column;
      }
      .wp-block-columns {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }
  .wp-block-column:nth-child(2) {
    .wp-block-group {
      justify-content: center;
      flex-direction: row;
    }
    .wp-block-group:nth-child(2) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .wp-block-group:first-child {
      // > * {
      //   margin-left: $space-2;
      // }
      margin-top: $space-2;
      margin-bottom: $space-4;
    }
    @media (min-width: 782px) {
      text-align: left;
      .wp-block-group {
        display: flex;
        justify-content: flex-end;
      }
      // .wp-block-group:nth-child(2) {
      //   flex-direction: column;
      //   justify-content: right;
      //   align-content: flex-end;
      // }
      .wp-block-columns:first-child {
        border-bottom: 1px solid var(--wp--preset--color--white);
        .wp-block-column:nth-child(2) {
          > * {
            display: flex;
            justify-content: flex-end;
          }
        }
      }
    }
  }
  // @media (min-width: 782px) {
  //   text-align: left;
  //   // .wp-block-column:nth-child(2) {
  //   //   .wp-block-group {
  //   //     display: flex;
  //   //     justify-content: flex-start;
  //   //   }
  //   // }
  // }
}

.page-h1-component {
  padding: $space-inset-4;
  p {
    color: var(--wp--preset--color--white);
  }
  @media (min-width) {
    p {
      font-size: $large-body-text;
    }
  }

  > * {
    margin: $space-stack-3;
  }
}

.full-component {
  padding-top: $space-4;
  padding-bottom: $space-4;

  > * {
    margin: $space-stack-3;
  }
}

.blog-posts-container {
  margin-top: $space-3;
  margin-bottom: $space-3;
}
