@import '../variables.scss';

.hero-component {
  overflow: hidden;
  display: grid;
  background-color: var(--wp--preset--color--primary);
  min-width: 100%;
  max-height: 100%;

  @media (min-width: 768px) {
    grid-template-columns: 60% 40%;
  }

  .wp-block-spacer {
    background-color: var(--wp--preset--color--white);
  }

  .hero-image {
    position: relative;
    width: 100%;
    max-height: 100% !important;
    overflow: hidden;
    min-height: 300px;
    display: flex;
    flex-direction: column;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }

    > div {
      position: absolute;
      z-index: 9000;
      background-color: rgb(0, 0, 0);
      padding: 15px;
      bottom: 0;
      width: 100%;
      box-sizing: border-box;

      span b {
        margin-right: $space-2;
      }
    }

    b {
      margin-right: 12px;
    }

    span {
      b {
        font-size: var(--wp--preset--font-size--medium);
      }

      span {
        font-size: var(--wp--preset--font-size--medium);
        color: var(--wp--preset--color--primary);
        white-space: nowrap;
      }
    }

    @media (max-width: 786px) {
      span {
        letter-spacing: 0px;
        margin-right: $space-2;
      }
    }

    > div {
      background-color: var(--wp--preset--color--background-cream);
      padding: 1rem;
      display: flex;
      justify-content: space-around;
    }
  }

  .hero-content {
    background-color: var(--wp--preset--color--primary);
    color: #fff;
    padding: $space-inset-3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: $space-2;
    margin-top: $space-3;

    h1,
    p,
    h5 {
      color: white;

      a {
        text-decoration: none;
      }
    }

    h5 a:hover {
      @include hoverState;
    }

    @media (min-width: 768px) {
      margin-top: 0;
      margin-left: 1rem;
    }

    .menu-items {
      &::after {
        content: '';
        display: block;
        width: 50px;
        height: 2px;
        background-color: var(--wp--preset--color--primary);
        margin: 0.5rem auto;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .hero-image > div {
      padding: $space-2;
      margin-top: 200px;
    }
  }
}

// .vimeo-crop-container {
//   position: relative;
//   width: 100%;
//   height: 400px;
//   overflow: hidden;

//   iframe {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     width: 100vw;
//     height: 100vh;
//     min-width: 100%;
//     min-height: 100%;
//     transform: translate(-50%, -50%);
//     border: none;
//     pointer-events: none;
//   }
// }
