@import '../variables.scss';

.menu-container {
  margin-top: $space-5;
  margin-bottom: $space-5;

  h2 {
    margin: $space-3;
  }
  .menu-component {
    background-color: var(--wp--preset--color--background-cream);
    border: 4px solid var(--wp--preset--color--primary);
    padding: $space-inset-4;
    margin-bottom: $space-5;
    p {
      color: var(--wp--preset--color--primary);
      margin-right: $space-2;
    }
    p:nth-child(2) {
      white-space: nowrap;
    }

    h4 {
      margin: $space-stack-3;
    }
    .wp-block-spacer {
      background-color: transparent;
      height: 32px;
    }
    > .wp-block-group {
      margin: $space-stack-3;

      p:nth-child(2) {
        font-weight: 900;
      }
    }
  }
}
